.Rproj.user
.Rhistory
.RData
.Ruserdata

# all unzipped files
*.zip

# gcm data
/data/gcm_annual_mean/

# all inkscape figures
figures/inkscape/

# ignore reports
reports/

# ignore to do list
todo.txt